  .speech {
    font-size:medium;
    color:black;
  }
  .direction {
    font-size:large;
    background-color: lightgray;
    
  }
  .direction:hover {
    background-color: lightblue;
    color: white;
  }
  
  .NURSE{
    color: purple; 
  }
  
  .NORA {
    color:blue; 
  }
  table, th, td {
    border:1px solid;
    color:red;
    text-align:center;
    padding:1cqmax;
    margin:1cqmax;
  }
  tr:nth-child(even){
    background-color:greenyellow;
  }.speech {
    font-size:medium;
    color:black;
  }

  .direction:hover {
    background-color: lightblue;
    color: white;
  }
  
  .NURSE{
    color: plum; 
  }
  
  .NORA{
    color:green; 
  }



  

  

  
  
  
  
  
  
  